
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto Slab", serif;
}
h2,
h3 {
  font-family: "Oleo Script Swash Caps";
}
.navbar {
  width: 100%;
  height: auto;
  background-color: #6caca4;
}
.navbar img {
  width: 15%;
  height: 15%;
}
.navbar a {
  text-decoration: none;
  color: black;
}
.navbar li {
  float: right;
  display: inline;
  list-style: none;
  padding-left: 3%;
  padding-top: 9%;
  margin-right: 2%;
}
.me {
  position: relative;
  background-image: url(../images/me.png);
  content: "";
  background-size: contain;
  width: 100%;
  height: 500px;
}

.me .me_txt {
  background-color: whitesmoke;
  margin: auto;
  width: 40%;

  height: auto;

  position: absolute;
  bottom: 0px;
  left: 30%;
  padding: 20px;
  box-shadow: 5px 3px 5px black;
}

.me .me_txt :hover {
  cursor: pointer;
  background-color: #efefef;
}

.me .me_txt li {
  align-content: center;
}
.skills {
  background-color: #efefef;
  display: flex;
  justify-content: space-around;
  padding-top: 60px;
}
.skills :hover {
  cursor: pointer;
  background-color: whitesmoke;
  /* transition: transform .6s; /* Animation 
  width: 30%;*/
}

.skills li {
  list-style: none;
  box-shadow: 5px 3px 5px black;
}

.skills li img {
  width: 50px;
  height: 50px;
}
hr {
  width: 100px;
  height: 3px;
  background-color: black;
  border: 0px;
  outline: 0px;
  visibility: hidden;
}
.skills li :hover hr {
  visibility: visible;
  transition: transform 0.9s;
}
.about_me {
  background-color: #449785;
  width: 100%;
  height: auto;
  line-height: 2;

  display: flex;
  justify-content: space-around;
}

.about_me .col2 {
  padding-top: 6%;
}
.work_samples {
  width: 100%;
  overflow-x: hidden;
  padding-top: 20px;
  background-color: #efefef;
}
.work_samples ol {
  display: flex;
  justify-content: space-around;
  list-style-position: inside;
}

.work_samples ol li {
  box-shadow: 5px 3px 5px black;
  transition: transform 0.5s;
}

.work_samples ol li :hover {
  transform: scale(1);
}

.work_samples ol :hover {
  transform: scale(1.1);
}

.work_samples ol li img {
  height: 200px;
  width: 300px;
}
a {
  text-decoration: none;
}